body{
background-color:lightgray;}

.header{
width:100%;
text-align:center;
font-style:italic;
font-size:1.4rem;
text-shadow:5px 5px 5px grey;
}


.map{
width:100%;}

.article1{
margin-top:20px;
width:100%;
display:flex;
background-color:grey;
border-radius:100px;
height:240px;
}
.imgfrankfurt{
width:25%;
position:relative;
}

.imgfrankfurt>img{
position:absolute;
width:100%;
border-radius:400px;
height:240px;
}

.frankfurt{
margin:15px;
width:70%;
font-size:1.4rem;
font-style:italic;
margin-left:30px;
overflow:auto;}

.article2{
display:flex;
width:100%;
background-color:grey;
border-radius:100px;
height:240px;
margin-top:20px;}

.nurembergimg{
width:25%;
margin-left:20px;
}

.nurembergimg>img{
width:100%;
border-radius:400px;
height:240px;

}

.nuremberg{
position:relative;
width:70%;
text-align:center;
overflow:auto;
margin-right:100px;
}
.nuremberg>p{
position:absolute;
width:100%;
font-size:1.4rem;
font-style:italic;
height:100%;

}
